.errorsText{
    text-align: start;
    color: rgb(249, 13, 13);
    font: var(--paragraph);
    font-size: large;
    max-width: 55%;
    margin-bottom: 8px;
}
.inputError{
    border: 1.5px solid rgb(249, 13, 13);
}
.label{
    width: 100%;
    text-align: center;
    font: var(--h1Title);
    font-size: 1.8rem;
    padding-bottom:0rem;
    padding-top:0rem;
    margin: 4rem 0rem 0rem 0rem; 
}
.labelAvatar{
    width: 100%;
    text-align: center;
    font: var(--h1Title);
    font-size: 1.8rem;
    padding-bottom:0rem;
    padding-top:0rem;
    margin: 0.5rem 0rem 0rem 0rem; 
}
.divContainer{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-top:2rem;
    padding-bottom:8rem;
    background-color: #f4f1bb;
}
.form{
    display: flex;
    justify-content: center;
    width: 80%;
    border-left: 2px solid rgb(109, 155, 157);
    border-right: 2px solid rgb(109, 155, 157);
    border-top:0px;
    border-bottom: 0px;
    border-style: dotted;
    background-color:#f4f1bb;
}
.inputs{
    border-radius: 0.5rem;
    border: 2px solid var(--cadetblue);
    font: var(--paragraph);
    font-size: 1.1rem;
    margin: 0rem;
    width: 25rem;
    box-shadow: 0px 0px 10px #dbdbdb;
    transition: box-shadow .6s;
}

.inputsErrors{
    border-radius: 0.5rem;
    border-right: 0px solid transparent;
    font: var(--paragraph);
    font-size: 1.1rem;
    margin: 0rem;
    width: 25rem;
    box-shadow: 0px 0px 10px #dbdbdb;
    border: 1px solid red;
    transition: box-shadow .6s;
}
.spanErrors{
    font-size: x-small;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-bottom: 0%;
}
.p{
    color:var(--cadetblue);
    font: var(--paragraph);
    font-size: large;
    max-width: 55%;
    text-align: center;
}
.labelInicio{
    text-align: center;
    width: 100%;
    font: var(--h1Title);
    font-size: 2.2rem;
    margin: 1rem 0rem 0rem 0rem;
}
.inputImage{
    border: 2px solid var(--cadetblue);
    margin-top: 1rem;
    font:var(--paragraph);
    font-size: large;
    cursor: pointer;
    color: var(--white);
    background-color: var(--cadetblue);
    box-shadow: none;
    border-radius: 1rem;
    padding: 0.7rem;
    width: auto;
    max-width: 98%;
    transition: background-color .5s, color .5s, transform .5s, color .5s; 
}
.inputImage:hover{
    background-color: var(--white);
    color: var(--cadetblue);
    border: 2px solid var(--cadetblue);
    transform: translateY(-10px);
    box-shadow: inset 5px 5px 15px rgb(70 70 70 / 12%);
}
.inputImageDisabled{
    border: 2px solid gray;
    margin-top: 1rem;
    font:var(--paragraph);
    font-size: large;
    color: gray;
    background-color: var(--white);
    box-shadow: none;
    border-radius: 1rem;
    padding: 0.7rem;
    width: auto;
    max-width: max-content;
}
.inputImageDisabled:hover{
    box-shadow: none;
}
.divContainerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 16rem;
}
.divInputsImage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.avatar{
    object-fit: cover;
    object-position: center;
    image-resolution: 720px;
    width:15rem;
    height: 14.6rem;
    border-radius: 100%;
    border: 6px solid rgb(109, 176, 179);
    border-style: solid;
    box-shadow: 0px 0px 12px #dbdbdb;
    background-image: url("https://th.bing.com/th/id/OIP.audMX4ZGbvT2_GJTx2c4GgHaHw?pid=ImgDet&rs=1");
    background-size: 108%;
    background-repeat: no-repeat;
    background-position: center;
}
.divAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inputAvatarError{
    font:var(--hTitle);
    font-size: large;
    cursor: pointer;
    background-color: var(--cadetblue);
    box-shadow: none;
    margin-top: 1rem;
    border-radius: 1rem;
    width: auto;
    max-width: 98%;
    border: 2px solid rgb(223, 5, 5);
    color: white;
    padding: 0.7rem;
    transition: background-color .5s, color .5s, transform .5s;
}
.inputAvatarError:hover{
    transform: translate(0px, -10px);
    padding: 0.7rem;
    background-color: var(--white);
    color: rgb(223, 5, 5);
    box-shadow: inset 5px 5px 15px rgb(70 70 70 / 12%);
}
.divContainerMapCards{ 
    margin-top: 1rem;
    width: auto;
    height: auto;
    max-width: 60%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid #ffa8b6;
    outline: none;
    box-shadow: 0px 0px 12px #dedede;
}
.divContainerCard{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0rem 0rem 0rem 0.5rem;
    margin:1rem;
    height: 1.5rem;
    border-radius: 0.5rem 1rem 1rem 1.3rem;
    transition: transform .5s;
}
.xSpanCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 80%;
    margin:0rem 0.1rem 0rem 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: color .3s, border .3s, background-color .3s;
    color:red;
    border: 1px solid red;
    background-color: white;
}
.xSpanCard:hover{
    color:white;
    border: 1px solid red;
    background-color: red;
}
.containerDescription{
    padding: 1rem;
    width: 65%;
    height: 19rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 2px 12px #d4d4d4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorsDescriptionContainer{
    width: 65%;
    height: 19rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 2px 12px #d4d4d4;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(223, 5, 5);
}
.description{
    object-fit: contain;
    min-width: 99%;
    max-width: 99%;
    min-height: 100%;
    max-height: 100%; 
    overflow-y: scroll;
    overflow-x: hidden;
    font:var(--paragraph);
    font-size:medium;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.errorsDescription{
    width: 65%;
    text-align: start;
    font:var(--paragraph);
    font-size: large;
    color: rgb(249, 13, 13);
}
.select{
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: 1rem;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.errorsSelect{
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: 1rem;
    width: auto;
    text-align: center;
    cursor: pointer;
    border-color: rgb(223, 5, 5);
}
.inputSubmit{
    margin: 10% 0%;
    width: 8rem;
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: large;
    cursor: pointer;
    color: var(--white);
    border: 2px solid var(--cadetblue);
    background-color: var(--cadetblue);
    box-shadow: 0px 0px 10px #dbdbdb;
    padding: 0.7rem;
    width: 9rem;
    max-width: 90%;
    transition: border .5s, background-color .5s, color .5s, transform .5s; 
}
.inputSubmit:hover{
    background-color: var(--white);
    color: var(--cadetblue);
    border: 2px solid var(--cadetblue);
    transform: translateY(-10px);
}
.inputSubmitDisabled{
    margin: 10% 0%;
    width: 9rem;
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: large;
    font-weight: 500;
    color: gray;
    border:2px solid gray;
    background-color: white;
    box-shadow: 0px 0px 10px #dbdbdb;
}
.inputSubmitDisabled:hover{
    box-shadow: 0px 0px 10px #dbdbdb;
}


@media (max-width: 1025px) {
    .containerDescription, .errorsDescriptionContainer{
        min-width: 85%;
        max-width: 85%;
    }
   .errorsDescription{
    width: 85%
   }
   .divContainer .p, .errorsText{
    max-width: 85%
}
}
  @media (max-width: 920px) {
    .divContainerImg{
        flex-direction: column;
        width: 100%;
        height: 28rem;
      }
      .divAvatar{
        width: 100%;
        height: 60%;
    }
    .divInputsImage{
        width: 100%;
        height: 45%;
    } 
  }
    @media (max-width: 768px) {
        .divContainer .p, .errorsText{
            max-width: 92%;
            font-size: medium;
        }
    }
        @media (max-width: 426px) {
            .inputImage, .inputImageDisabled , .inputAvatarError{
                font-size: medium;
                max-width: 90%;
            }
            .select , .errorsSelect{
                font-size: 0.9rem;
            }
            .inputs, .inputsErrors{
                width: 90%;
                font-size: 1rem;
            }
            .inputSubmitDisabled, .inputSubmit{
                font-size: medium;
                margin: 20% 0%;
            }
            .divContainer .p, .errorsText{
                max-width: 98%;
                font-size: 0.9rem;
            }
            .divContainer{
                margin-top:7rem; 
                margin-bottom:5rem;
            }
            .label{
                font-size: 1.6rem;
                margin: 2.5rem 0rem 0rem 0rem; 
            }
            .divContainer .divContainerMapCards{
                max-width: 100%;
            }
        }
            @media (max-width: 321px) {
            .divAvatar .avatar{
                    width:14rem;
                    height: 13.6rem;
                }
            }